<!DOCTYPE html>
<html lang="ko" data-bs-theme="light">
<!-- Header -->
<head>
    <title>MARKM | 커뮤니티</title>
    <div th:replace="~{fragments/header :: header}"></div>
</head>


<!-- Body -->
<body>
<!-- ===== 페이지 로딩 스피너 시작 ===== -->
<div class="page-loading active">
    <div class="page-loading-inner">
        <div class="page-spinner"></div><span>로딩중...</span>
    </div>
</div>
<!-- ===== 페이지 로딩 스피너 끝 ===== -->


<main class="page-wrapper">
    <!-- ===== 네비게이션바(Navbar) 시작 ===== -->
    <header th:replace="~{fragments/nav :: nav}"></header>
    <!-- ===== 네비게이션바(Navbar) 끝 ===== -->


    <!-- ===== 히어로 이미지 시작 ===== -->
    <section class="position-relative bg-dark pt-lg-4" style="background: linear-gradient(90deg, #141e35 0%, #1a2e58 51.04%, #16223f 100%)">
        <div class="jarallax d-none d-md-block" data-jarallax data-speed="0.35">
            <div class="jarallax-img" style="background-image: url(/assets/img/landing/saas-5/hero-bg-pattern.png); filter: hue-rotate(334deg);"></div>
            <div class="d-none d-md-block" style="height: 280px;"></div>
            <div class="d-flex align-items-center justify-content-center position-absolute top-50 start-50 translate-middle w-100 h-100">
                <div class="container" style="padding-top: 80px;">
                    <h2 class="h3 mb-md-3 mb-2 slogan-text">완벽한 마킹 솔루션, 노하우에 기술을 더하다</h2>
                    <p class="fs-lg banner-text">주식회사 마크엠</p>
                </div>
            </div>
        </div>
    </section>
    <!-- ===== 히어로 이미지 끝 ===== -->


    <!-- ===== 브레드크럼(Breadcrumb) 시작 ===== -->
    <nav class="container py-4 mb-2 my-lg-3"  aria-label="breadcrumb">
        <ol class="breadcrumb justify-content-end mb-0">
            <li class="breadcrumb-item">
                <a href="/"><i class="bx bx-home-alt fs-lg me-1"></i>Home</a>
            </li>
            <li class="breadcrumb-item">커뮤니티</li>
        </ol>
    </nav>
    <!-- ===== 브레드크럼(Breadcrumb) 끝 ===== -->


    <!-- Page content -->
    <section class="container">
        <div class="row">
            <!-- ===== 사이드바(Sidebar) 시작 ===== -->
            <aside th:replace="~{fragments/sidebarBoard :: sidebarBoard}"></aside>
            <!-- ===== 사이드바(Sidebar) 끝 ===== -->


            <!-- ===== 본문(공지사항) 시작 ===== -->
            <div class="col-md-8 offset-lg-1 pb-5 mb-2 mb-lg-4 pt-md-5 mt-n3 mt-md-0">
                <div class="ps-md-3 ps-lg-0 mt-md-2 py-md-4">
                    <div>
                        <div class="d-flex justify-content-between align-items-center gap-4 mb-4">
                            <h1 class="h3 mb-0">공지사항</h1>
                        </div>
                        <form method="get" th:object="${searchForm}" th:action="@{/board/{type} (type=${type})}">
                            <div class="d-flex gap-2 mb-3">
                                <div class="input-group" style="max-width: 300px;">
                                    <input type="text" th:field="*{title}" class="form-control pe-5 rounded" placeholder="제목">
                                </div>
                                <button type="submit" class="btn btn-sm btn-primary rounded-2">검색</button>
                            </div>
                        </form>
                    </div>

                    <div class="table-responsive mb-3 border-top border-primary border-2">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th scope="col" style="width: 10%">No.</th>
                                <th scope="col" style="width: 55%">제목</th>
                                <th scope="col" style="width: 17%" class="text-center">등록일자</th>
                                <th scope="col" style="width: 10%" class="text-center">조회</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="board, boardState : ${boards}">
                                <td><span class="fs-sm text-muted" th:text="${boardState.count}"></span></td>
                                <td><a th:href="@{/board/{id}/view (id=${board.id})}" class="text-decoration-none text-dark"><span th:text="${board.title}"></span></a></td>
                                <td class="text-center"><span class="fs-sm text-muted" th:text="${#temporals.format(board.createdAt, 'yyyy-MM-dd')}"></span></td>
                                <td class="text-center"><span class="fs-sm text-muted">준비중</span></td>
                            </tr>
                            <tr th:if="${#lists.isEmpty(boards)}">
                                <td class="text-center" colspan="4">등록된 게시글이 없습니다.</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <!-- Pagination -->
                    <nav th:if="${not #lists.isEmpty(boards)}" aria-label="Page navigation example">
                        <ul class="pagination justify-content-center pt-lg-3 pt-1">
                            <li class="page-item">
                                <a class="page-link" th:href="@{/board/{type} (type=${type}, page = 1)}" aria-label="Previous">
                                    <span aria-hidden="true">처음</span>
                                </a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" th:href="@{/board/{type} (type=${type}, page = ${pagination.prevBlock})}" aria-label="Previous">
                                    <i class="bx bx-chevron-left mx-n1"></i>
                                </a>
                            </li>
                            <th:block  th:with="start = ${pagination.startPage}, end = ${pagination.endPage}">
                                <li class="page-item"
                                    th:with="start = ${pagination.startPage}, end = ${pagination.endPage}"
                                    th:each="pageButton : ${#numbers.sequence(start, end)}"
                                    th:classappend="${pageButton == pagination.page ? 'active' : ''}">
                                    <a class="page-link" th:href="@{/board/{type} (type=${type}, page = ${pageButton})}" th:text="${pageButton}"></a>
                                </li>
                            </th:block>
                            <li class="page-item d-none d-sm-block">
                                <a class="page-link" th:href="@{/board/{type} (type=${type}, page = ${pagination.nextBlock})}" aria-label="Next">
                                    <i class="bx bx-chevron-right mx-n1"></i>
                                </a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" th:href="@{/board/{type} (type=${type}, page =  ${pagination.totalPageCnt})}" aria-label="Previous">
                                    <span aria-hidden="true">끝</span>
                                </a>
                            </li>
                        </ul>
                    </nav>

                </div>
            </div>
            <!-- ===== 본문(공지사항) 끝 ===== -->
        </div>
    </section>
</main>


<!-- ===== 푸터(Footer) 시작 ===== -->
<div th:replace="~{fragments/footer :: footer}"></div>
<!-- ===== 푸터(Footer) 끝 ===== -->


<!-- ===== 맨 위로 가기 버튼 시작 ===== -->
<a href="#top" class="btn-scroll-top" data-scroll>
    <span class="btn-scroll-top-tooltip text-muted fs-sm me-2">Top</span>
    <i class="btn-scroll-top-icon bx bx-chevron-up"></i>
</a>
<!-- ===== 맨 위로 가기 버튼 끝 ===== -->


<!-- Main Theme Script -->
<script src="/assets/js/theme.min.js"></script>
</body>
</html>