<!DOCTYPE html>
<html lang="ko" data-bs-theme="light">
<!-- Header -->
<head>
  <title>관리하기 - 제품소개</title>
  <div th:replace="~{fragments/header :: header}"></div>
</head>


  <!-- Body -->
  <body>
    <!-- ===== 페이지 로딩 스피너 시작 ===== -->
    <div class="page-loading active">
      <div class="page-loading-inner">
        <div class="page-spinner"></div><span>Loading...</span>
      </div>
    </div>
    <!-- ===== 페이지 로딩 스피너 끝 ===== -->


    <main class="page-wrapper">
      <!-- ===== 네비게이션바(Navbar) 시작 ===== -->
      <header th:replace="~{fragments/nav :: nav}"></header>
      <!-- ===== 네비게이션바(Navbar) 끝 ===== -->


      <section class="container pt-5">
        <div class="row ">
          <!-- ===== 사이드바(Sidebar) 시작 ===== -->
          <aside th:replace="~{fragments/sidebarAdmin :: sidebarAdmin}"></aside>
          <!-- ===== 사이드바(Sidebar) 끝 ===== -->


          <!-- ===== 본문(제품소개) 시작 ===== -->
          <div class="col-md-8 offset-lg-1 pb-5 mb-2 mb-lg-4 pt-md-5 mt-n3 mt-md-0">
            <div class="ps-md-3 ps-lg-0 mt-md-2 py-md-4">
              <div>
                <div class="d-flex justify-content-between align-items-center gap-4 mb-4">
                  <h1 class="h3 mb-0">제품소개</h1>
                  <a th:href="@{/admin/items/{category}/new (category=${menu2})}" class="btn btn-outline-primary shadow-primary">등록</a>
                </div>
                <form method="get" th:object="${searchForm}" th:action="@{/admin/items/{category} (category=${menu2})}">
                <input type="hidden" th:field="*{category1}">
                <div class="row">
                  <div class="col-md-6 col-xl-4 mb-3">
                    <div class="d-flex gap-2">
                      <select th:if="*{category1 == 'ucs'}" th:field="*{category2}" class="form-select">
                        <option th:value="''">카테고리 선택</option>
                        <option th:value="열전사프린터" th:text="열전사프린터"></option>
                        <option th:value="라벨프린터" th:text="라벨프린터"></option>
                      </select>
                     <select th:if="*{category1 == 'edding'}" th:field="*{category2}" class="form-select">
                        <option th:value="''">카테고리 선택</option>
                        <option th:value="'in-line 12/25'">in-line 12/25</option>
                        <option th:value="'in-line pro 12/25'">in-line pro 12/25</option>
                      </select>
                      <select th:if="*{category1 == 'macsa'}" th:field="*{category2}" class="form-select">
                        <option th:value="''">카테고리 선택</option>
                        <option th:value="LCX" th:text="LCX"></option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-6 col-xl-5 mb-3">
                    <div class="d-flex gap-2">
                      <div class="input-group">
                        <input type="text" th:field="*{name}" class="form-control pe-5 rounded" placeholder="제품명">
                      </div>
                      <button type="submit" class="btn btn-sm btn-primary rounded-2">검색</button>
                    </div>
                  </div>
                </div>
                </form>
              </div>

              <div class="table-responsive mb-3 border-top border-primary border-2">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th scope="col" style="width: 10%">No.</th>
                      <th scope="col" style="width: 32%">카테고리명</th>
                      <th scope="col" style="width: 40%">제품명</th>
                      <th scope="col" style="width: 17%" class="text-center">등록일자</th>
                      <th scope="col" style="width: 8%" class="text-center"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr th:each="item, itemState : ${items}">
                      <td><span class="fs-sm text-muted" th:text="${itemState.count}"></span></td>
                      <td><span class="fs-sm text-muted" th:text="${item.category2}"></span></td>
                      <td><a th:href="@{/admin/items/{id}/edit (id=${item.id})}" class="text-decoration-none text-dark"><span th:text="${item.name}"></span></a></td>
                      <td class="text-center"><span class="fs-sm text-muted" th:text="${#temporals.format(item.createdAt, 'yyyy-MM-dd')}"></span></td>
                      <td class="text-center py-2">
                        <a th:href="@{/admin/items/{id}/edit (id=${item.id})}" class="btn btn-outline-secondary btn-icon btn-sm">
                          <i class="bx bx-edit-alt"></i>
                          <span class="visually-hidden">수정</span>
                        </a>
                      </td>
                    </tr>
                    <tr th:if="${#lists.isEmpty(items)}">
                      <td class="text-center" colspan="5">등록된 제품이 없습니다.</td>
                    </tr>
                  </tbody>
                </table>
              </div>

              <!-- Pagination -->
              <!--<nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center pt-lg-3 pt-1">
                  <li class="page-item">
                    <a href="#" class="page-link" aria-label="Previous page">
                      <i class="bx bx-chevron-left mx-n1"></i>
                    </a>
                  </li>
                  <li class="page-item disabled d-sm-none">
                    <span class="page-link text-body">2 / 4</span>
                  </li>
                  <li class="page-item d-none d-sm-block">
                    <a href="#" class="page-link">1</a>
                  </li>
                  <li class="page-item active d-none d-sm-block" aria-current="page">
                    <span class="page-link">
                      2
                      <span class="visually-hidden">(current)</span>
                    </span>
                  </li>
                  <li class="page-item d-none d-sm-block">
                    <a href="#" class="page-link">3</a>
                  </li>
                  <li class="page-item d-none d-sm-block">
                    <a href="#" class="page-link">4</a>
                  </li>
                  <li class="page-item">
                    <a href="#" class="page-link" aria-label="Next page">
                      <i class="bx bx-chevron-right mx-n1"></i>
                    </a>
                  </li>
                </ul>
              </nav>-->

            </div>
          </div>
          <!-- ===== 본문(제품소개) 끝 ===== -->
        </div>
      </section>
    </main>


    <!-- ===== 푸터(Footer) 시작 ===== -->
    <div th:replace="~{fragments/footer :: footer}"></div>
    <!-- ===== 푸터(Footer) 끝 ===== -->


    <!-- ===== 맨 위로 가기 버튼 시작 ===== -->
    <a href="#top" class="btn-scroll-top" data-scroll>
      <span class="btn-scroll-top-tooltip text-muted fs-sm me-2">Top</span>
      <i class="btn-scroll-top-icon bx bx-chevron-up"></i>
    </a>
    <!-- ===== 맨 위로 가기 버튼 끝 ===== -->


    <!-- Vendor Scripts -->
    <script src="/assets/vendor/cleave.js/dist/cleave.min.js"></script>

    <!-- Main Theme Script -->
    <script src="/assets/js/theme.min.js"></script>

  </body>
</html>